{% extends "base1.html" %} 
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" href="{% static 'js/login.js' %}"/>
{% endblock styles %}

{% block content %}
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">

                <img src="{% static 'images/illustration.png' %}" alt="illustration" class="illustration" />

 
                <h1 class="opacity">LOGIN</h1>
                <form>
                    <input type="text" placeholder="USERNAME" />
                    <input type="password" placeholder="PASSWORD" />
                    <button class="opacity">SUBMIT</button>
                </form>
                <div class="register-forget opacity">
                    <a href="{% url 'register' %}">REGISTER</a>
                    <a href="">FORGOT PASSWORD</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
    {% endblock content %}



