{% extends "base.html" %}
{% load static %}

{% block content %}


                <img src="{% static 'images/illustration.png' %}" alt="illustration" class="illustration" />
                <!-- <img src="images\illustration.png" alt="illustration" class="illustration" /> -->


                <img src="{% static 'images/illustration.png' %}" alt="illustration" class="illustration" >

 

                <h1 class="opacity">LOGIN</h1>
                <form>
                    <input type="text" placeholder="USERNAME" />
                    <input type="password" placeholder="PASSWORD" />
                    <button class="opacity">SUBMIT</button>
                </form>
                <div class="register-forget opacity">
                    <a href="{% url 'register' %}">REGISTER</a>
                    <a href="">FORGOT PASSWORD</a>
                </div>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center mt-5 mb-5">
        <form class="col-6">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>

{% endblock content %}