{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/register.css' %}" rel="stylesheet">
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <link href="{% static 'js/login.js' %}" rel="stylesheet">

        {% block extrahead %}
         {% endblock extrahead %}
    </head>
    <body>
        {% block content %}
          {% endblock content %}
         {% block extrafooter %}

         {% endblock extrafooter %}
    
    </body>
</html>