
{% load static %}
{% extends "base.html" %} 

{% block content %}


  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: rgb(215, 203, 22);
      color: rgb(247, 248, 248);
      opacity: 90% ;
      /* background-image: url("static\images\slider-img.png"); */
    }

    h1 {
      margin-bottom: 20px;
    }

    form {
     
      padding: 20px;
      border-radius: 8px;
      background-color: #f8f8f8;
      text-align: left;
      width: 16cm;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      box-sizing: border-box;
    }

    select.form-select {
      font-size: 15px; /* Adjust the font size as needed */
      padding: 2px; /* Adjust the padding as needed */
      height: 25px; /* Adjust the height as needed */
      width: 16cm;
    }

    button[type="submit"] {
      padding: 15px 250px; /* Adjust padding for the desired size */
      font-size: 18px; /* Adjust font size for the desired size */
      background-color: rgb(24, 198, 172);
      color: black; /* Adjust text color for better visibility */
      border:black;
      border-radius: 4px;
      padding-left: 50%;
      
    }
    .yellow{
      /* background-color: yellow; */
      flex:1;
    }
  </style>


  <h1>BOOK YOUR SERVICE</h1>
  <div class="col-md-6">
    <div class="img-box">
      <img src="{% static 'images/slider-img.png' %}" alt="">
    </div>
  <div class ="blue">
  <form>
    <input type="text" class="form-control" placeholder="YOUR NAME"><br>
    <input type="text" class="form-control" placeholder="ENTER YOUR USER ID"><br>
    <label for="exampleFormControlTextarea1" class="form-label" ></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="enter your location"></textarea><br> <BR>
    <select class="form-select form-select-sm" aria-label="Large select">
      <option selected="">SELECT YOUR SERVICE</option>
      <option value="1">MAINTENANCE</option>
      <option value="2">PLUMBING</option>
      <option value="3">ELECTRICAL</option>
      <option value="4">PEST CONTROL</option>
      <option value="5">LAUNDRY</option>
    </select>

    <br><br>

  
    <label for="date"><p style="color: black;">CHOOSE YOUR DATE</p></label>
    <input type="date" id="date" name="date" class="form-control"><br><br>
    <label for="time"><P style="color: black;"> CHOOSE THE TIME</P></label>
    <input type="time" id="time" name="time" class="form-control">

    <button type="submit"><a href="home">Submit</a></button>
  </form>
  </div>

  <div class="yellow">

  <div id="datetime"></div>

    <script>
      function updateDateTime() {
        var now = new Date();
        var dateTimeString = now.toLocaleString();
        document.getElementById('datetime').textContent = dateTimeString;
      }

      // Update date and time every second
      setInterval(updateDateTime, 1000);

      // Initial call to display date and time
      updateDateTime();
    </script>
    </div>

{% endblock content %}

