<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body style="background-color: rgb(55, 100, 212);">
        <img src="C:\Users\RIYA\Desktop\CAC2\Click-Fix\static\images\CLICK-FIX.gif">
        <style>
            img{
                width: 30%;
                align-items: center;
                display: flex;
                height: 20%;
                padding-left: 35%;
                 padding-top: 25%; 

            } 
        </style>

    
    </body>
</html>